body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#navi {
    display: grid;
    grid-template-columns: 40px auto auto auto auto auto auto;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
}

div#navi img {
    width: 50px;
    height: 80px;
}

div#navi p {
    margin: 0;
}

.naviTitles {
    grid-column: 2 / 4;
}

.naviTitle1 {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 47px;
    padding-left: 11px;
    padding-top: 16px;
}

.naviTitle2 {
    color: #C5915C;
}

div#navi a {
    margin: auto;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-size: 2em;
    color: #ffffff;
}

#header {
    background-color: #400F3C;
    height: 9%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header1 {
    text-align: center;
    padding-top: 20px;
}

.headTitle2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
    color: #c5915c;
}

.bigGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 100px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #C5915C;
}

.para {
    font-family: "Playfair Display", serif;
    text-align: center;
}

.meetUs {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    background: url("../images/IMG_6625.jpg");
    background-position: top;
    background-size: cover;
    height: 100%;
}

.meetDiv {
    grid-column: 1 / 3;
}

.infoGrid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}

.aboutInfoDiv1 {
    text-align: center;
}

.aboutInfoDiv2 {
    text-align: center;
}

.jobTitle {
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.aboutWordsTitle1 {
    font-family: "Lato", sans-serif;
    font-size: ;
    text-align: left;
    color: #ffffff;
}

.aboutWordsTitle2 {
    font-family: "Lato", sans-serif;
    font-size: ;
    text-align: right;
    color: #ffffff;
}

.aboutWords {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #ffffff;
}

.melName {
    font-family: "Parisienne", cursive;
    position: relative;
    left: 20px;
    font-size: 90px;
    color: #a599b5;
    top: -50px;
}

.daniName {
    font-family: "Parisienne", cursive;
    position: relative;
    left: -140px;
    font-size: 90px;
    color: #B47EB3;
    top: -50px;
}

.aboutImg {
    width: 100%;
}

.grid-container10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #400F3C;
    color: #ffffff;
    height: 300px;
}

.grid-item20 {
    display: grid;
    grid-template-rows: auto 10% 30%;
}

.logo {
    width: 70px;
    height: 100px;
    margin: auto;
}

.legalText {
    margin-bottom: 0px;
}

.grid-item22 {
    margin: auto;
    text-align: center;
}

.legal {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.footertitle {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.grid-item21 {
    margin: auto;
}

.grid-container11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container11 div {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: auto;
}

.grid-container11 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.socialImgs {
    width: 30px;
    height: 30px;
}