body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#navi {
	display: grid;
	grid-template-columns: 40px auto auto auto auto auto auto;
	padding-right: 50px;
	padding-left: 50px;
	position: fixed;
	background-color: transparent;
	width: 100%;
	top: 0;
}

div#navi img {
	width: 50px;
	height: 80px;
}

div#navi p {
	margin: 0;
}

.naviTitles {
	grid-column: 2 / 4;
}

.naviTitle1 {
	font-family: 'Great Vibes', cursive;
	color: #ffffff;
	font-size: 47px;
	padding-left: 11px;
	padding-top: 16px;
}

.naviTitle2 {
	color: #C5915C;
}

div#navi a {
	margin: auto;
	text-decoration: none;
	font-family: "Great Vibes", cursive;
	font-size: 2em;
	color: #ffffff;
}

#header {
	background-color: #400F3C;
	height: 20%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contactDiv {
	display: grid;
	grid-template-columns: 60% 40%;
}

.formDiv {
	margin: 10%;
}

.form-group {
	margin-bottom: 3rem;
}

#map {
	height: 40%;
	margin: 10%;
	margin-bottom: 0%;
	margin-top: 15%;
}

.locales {
	margin: 10%;
	margin-top: 1%;
}