body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/*Navigation Bar CSS*/

#navi {
    display: grid;
    grid-template-columns: 40px auto auto auto auto auto auto;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
}

div#navi img {
    width: 50px;
    height: 80px;
}

div#navi p {
    margin: 0;
}

.naviTitles {
    grid-column: 2 / 4;
}

.naviTitle1 {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 47px;
    padding-left: 11px;
    padding-top: 16px;
}

.naviTitle2 {
    color: #C5915C;
}

div#navi a {
    margin: auto;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-size: 2em;
    color: #ffffff;
}


/*SideBar navigation*/

.fas {
    font-size: 40px;
    position: fixed;
    left: 10px;
    top: 2px;
    color: ghostwhite;
    cursor: pointer;
    display: none;
}

.sidenav {
    visibility: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background: #400F3C;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #ffffff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.sideBarLinks {
    font-family: "Great Vibes", sans-serif;
}

@media only screen and (min-width:375px) {
    .sidenav {
        visibility: visible;
    }
}

@media only screen and (min-width:375px) {
    #navi {
        display: grid;
        grid-template-columns: auto;
    }
    #logo {
        display: none;
    }
    .naviTitles {
        grid-column: auto;
        text-align: -webkit-center;
        padding-left: 0;
    }
    .naviTitle1 {
        font-size: 35px;
    }
    .fa-bars {
        display: block !important;
        z-index: 3;
        visibility: visible;
        top: 20px;
    }
    div#navi a {
        display: none;
    }
}

#header {
    background-color: #400F3C;
    height: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.document {
    text-align: -webkit-center;
}

ul, ol {
    list-style: none;
}

.grid-container10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: 223px 223px 223px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #400F3C;
    color: #ffffff;
    height: 200px;
}

.grid-item26 {
    grid-column: 1 / 5;
}

.grid-item20 {
    display: grid;
    grid-template-rows: auto 10% 30%;
    text-align: center;
}

.logo {
    width: 70px;
    height: 100px;
    margin: auto;
}

.legalText {
    margin-bottom: 0px;
}

.grid-item22 {
    margin: auto;
    text-align: center;
}

.legal {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.footertitle {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.grid-item21 {
    margin: auto;
}

.grid-container11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container11 div {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: auto;
}

.grid-container11 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.socialImgs {
    width: 30px;
    height: 30px;
}

#legalLinks {
    text-decoration: none;
}

#legalLinks>p {
    color: #ffffff;
}

.copyright {
    text-align: center;
    grid-column: 1 / 4;
}

@media only screen and (min-width:375px) {
    #header {
        height: 11%;
    }
    .contactDiv {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .formDiv {
        margin: auto;
        width: 90%;
        text-align: -webkit-center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #map {
        height: 400px;
        margin: 0;
    }
    .mapDiv {
        width: 90%;
        margin: auto;
    }
    .locales {
        text-align: -webkit-center;
    }
    .grid-container10 {
        grid-template-columns: auto
    }
    .copyright {
        grid-column: 1;
    }
    .grid-item20 {
        display: none;
    }
    .grid-item22 {
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    .contactDiv {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
    }
    .formDiv {
        text-align: left;
    }
    .locales {
        text-align: left;
        margin: 0;
        padding-top: 50px;
    }
    .grid-container10 {
        grid-template-columns: auto auto auto;
    }
    .grid-item20 {
        display: grid;
    }
    .grid-item22 {
        display: initial;
    }
    #navi {
        display: grid;
        grid-template-columns: 40px auto auto auto auto auto auto auto;
    }
    #logo {
        display: block;
    }
    .naviTitles {
        grid-column: 2 / 4;
        padding-left: 0;
        margin: auto;
        margin-left: 10px;
    }
    .naviTitle1 {
        font-size: 35px;
    }
    .fa-bars {
        display: none;
        z-index: 0;
        visibility: hidden;
    }
    div#navi a {
        display: block;
        text-align: right;
        margin-right: 0px;
    }
    div#navi p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .copyright {
        grid-column: 1 / 4;
    }
}