body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#navi {
    display: grid;
    grid-template-columns: 40px auto auto auto auto auto auto;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
}

div#navi img {
    width: 50px;
    height: 80px;
}

div#navi p {
    margin: 0;
}

.naviTitles {
    grid-column: 2 / 4;
}

.naviTitle1 {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 47px;
    padding-left: 11px;
    padding-top: 16px;
}

.naviTitle2 {
    color: #C5915C;
}

div#navi a {
    margin: auto;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-size: 2em;
    color: #ffffff;
}

#header {
    background-color: #400F3C;
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto auto auto;
}

div#header h1 {
    color: white;
    padding-top: 200px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: -webkit-xxx-large;
}

div#header p {
    color: #ffffff;
    text-align: center;
    width: 40%;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

div#header button {
    background-color: #ffffff;
    border-radius: 3px;
    color: #400F3C;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: auto;
}

.allServices {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-items: center;
    margin: 10%;
}

.arrow {
    width: 20px;
    height: 30px;
}

.services {
    margin: 10%;
}

.serviceTitle {
    font-family: "Lato", sans-serif;
}

.serviceDescrip {
    font-family: "Playfair Display", serif;
}

.links {
    cursor: pointer;
}

a.links>span {
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.imageSpacer {
    background: linear-gradient(rgba(116, 0, 145, 0.5), rgba(116, 0, 145, 0.5)), url("../images/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.spacerText {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
}


/*Code for modal */

#infoDiv {
    position: fixed;
    bottom: 0px;
    width: 60%;
    height: 1px;
    left: 20%;
    background-color: white;
    display: none;
    border-top: 5px solid #400F3C;
    border-left: 2px solid #400F3C;
    border-right: 2px solid #400F3C;
}

.exit {
    position: relative;
    left: 10px;
    width: 30px;
    height: 50px;
    cursor: pointer;
}

.information {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
    grid-row-gap: 40px;
}

#infoTitle {
    position: relative;
    text-align: center;
    display: inline-block;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
    color: #712E71
}

#infoTitle::after {
    content: "";
    width: 40%;
    height: 3px;
    background: #712E71;
    bottom: 0;
    position: absolute;
    left: 30%;
}

#infoDescrip {
    text-align: center;
    font-family: "Lato", sans-serif;
    margin: auto;
    width: 40%;
}

.prices {
    display: grid;
    grid-template-rows: auto auto auto;
}

.pricing {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.priceChange {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    text-align: center;
}

.grid-container10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #400F3C;
    color: #ffffff;
    height: 300px;
}

.grid-item20 {
    display: grid;
    grid-template-rows: auto 10% 30%;
}

.logo {
    width: 70px;
    height: 100px;
    margin: auto;
}

.legalText {
    margin-bottom: 0px;
}

.grid-item22 {
    margin: auto;
    text-align: center;
}

.legal {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.footertitle {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.grid-item21 {
    margin: auto;
}

.grid-container11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container11 div {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: auto;
}

.grid-container11 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.socialImgs {
    width: 30px;
    height: 30px;
}