body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100vh;
    }
}

div.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 500px auto 500px;
    grid-template-rows: auto 0px;
    transition: opacity 1s;
}

div.loading.hidden {
    opacity: 0;
    pointer-events: none;
}

h1.title {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    visibility: hidden;
    padding-top: 5px;
}

#leftTitle {
    color: #400F3C;
    margin: auto;
}

#rightTitle {
    color: #C5915C;
    margin: auto;
    margin-left: 60px;
}

#diamondDiv {
    animation-name: scale;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(4);
    }
}

#diamondLogo {
    width: 60px;
    height: 100px;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 2.5;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#header {
    background-image: url("../images/IMG_6569.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


/*.headerImg {
	position: absolute;
	top: 0;
}

.headerTitle {
	position: relative;
	top: 1em;
	left: 1em;
}*/


/*Make logo rotate or something when hovered over
#logo:hover {

}
*/


/*Navigation Header*/

#navi {
    display: grid;
    grid-template-columns: 40px auto auto auto auto auto auto;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 1;
}

div#navi img {
    width: 50px;
    height: 60px;
}

div#navi p {
    margin: auto;
}

.naviTitles {
    grid-column: 2 / 4;
    padding-left: 10px;
}

.naviTitle1 {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 47px;
}

.naviTitle2 {
    color: #C5915C;
}

div#navi a {
    margin: auto;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-size: 2em;
    color: #ffffff;
}


/*SideBar navigation*/

.fas {
    font-size: 40px;
    position: fixed;
    left: 10px;
    top: 10px;
    color: ghostwhite;
    cursor: pointer;
    display: none !important;
}

.sidenav {
    visibility: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(255, 255, 255), rgb(77, 0, 92));
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #400F3C;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.sideBarLinks {
    font-family: "Great Vibes", sans-serif;
}

@media only screen and (max-width:1000px) {
    .sidenav {
        visibility: visible;
    }
    .fa-bars {
        display: block !important;
        z-index: 2;
    }
    #navi {
        grid-template-columns: 40px auto;
        justify-content: center;
    }
    div#navi a {
        display: none;
    }
}


/*Code for scrolling text*/

.storyblock {
    width: 50%;
    height: 240px;
    position: relative;
    background-color: transparent;
    top: 700px;
    left: 5%;
}

.story {
    margin: 0;
    color: white;
    font-size: 60px;
    text-align: left;
    font-family: "Great Vibes", sans-serif;
}

.smallHeaderText {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    width: 40%;
}

.minStoryblock {
    display: none;
}

.minStory {
    display: none;
    margin: 0;
    color: #712E71;
    font-size: 60px;
    text-align: center;
    font-family: "Great Vibes", sans-serif;
}

.minHeaderText {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #712E71;
}

@media only screen and (max-width:1000px) {
    .storyblock {
        display: none;
    }
    .minStoryblock {
        display: block
    }
    .minStory {
        display: block;
    }
    .minHeaderText {
        display: block;
        text-align: center
    }
}


/*Are you magnetized header*/

.mainDiv {
    background-image: url("../images/greywhite.jpg");
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 200px;
    padding-bottom: 100px;
}

#magnetDiv {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    padding-top: 120px;
}

.areYou {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 100px;
    color: #712e71;
}

.mainImg {
    width: 500px;
    height: 100%;
}


/*Code for homepage content*/

#content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 75%;
    margin: auto;
    grid-column-gap: 50px;
}

.magnetPics {
    width: 500px;
    height: 300px;
}

.title1Div {
    text-align: center;
}

.title1 {
    position: relative;
    text-align: center;
    display: inline-block;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
    color: #712E71
}

.title1::after {
    content: "";
    width: 80%;
    height: 3px;
    background: #712E71;
    bottom: 0;
    position: absolute;
    left: 10%;
}

.text1 {
    text-align: center;
}

@media only screen and (max-width:1000px) {
    .mainDiv {
        grid-row-gap: 100px;
    }
    #content {
        grid-template-columns: auto;
        grid-template-rows: [top] auto [bottom] auto;
        grid-row-gap: 20px;
    }
    .magnetPicDiv {
        margin: auto;
        grid-row: top;
    }
}


/*Newsletter section*/

.btmHeader {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 560px;
}

.daniPic {
    width: 100%;
    height: 100%;
}

.midHeaderDiv {
    background-image: url("../images/purplebox.jpg");
    display: grid;
    grid-template-rows: 30% 20% 5% 20% 20%;
    grid-row-gap: 10px;
}

div.midHeaderDiv button {
    background-color: #ffffff;
    border-radius: 3px;
    color: #400F3C;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.icon1 {
    width: 50px;
    height: 50px;
    margin: auto;
}

.newsTitle {
    position: relative;
    text-align: center;
    display: inline-block;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    height: 50px;
}

.newsTitle::after {
    content: "";
    width: 80%;
    height: 3px;
    background: rgb(255, 255, 255);
    bottom: 0;
    position: absolute;
    left: 10%;
}

.newsText {
    font-family: "Lato", sans-serif;
    color: #ffffff;
    text-align: center;
}

#formGroup {
    margin: 10%;
}

button {
    margin: auto;
}

@media only screen and (max-width:1000px) {
    .btmHeader {
        grid-template-columns: auto;
    }
    .newsPic {
        display: none
    }
}


/*Find a location div*/

.aboveFooter {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 430px;
}

.title2 {
    position: relative;
    text-align: center;
    display: inline-block;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
    color: #712E71
}

.title2::after {
    content: "";
    width: 80%;
    height: 3px;
    background: #712E71;
    bottom: 0;
    position: absolute;
    left: 10%;
}

.aboveDiv {
    margin-bottom: 0px;
    margin: auto
}

.aboveDivText {
    width: 30%;
    margin: auto;
}

.aboveDivButton {
    margin-top: 0px;
    margin: auto
}

div.aboveDivButton button {
    background-color: #40043c;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

@media only screen and (max-width:1000px) {
    .aboveDivText {
        width: 80%;
    }
}


/*Events styling*/

#eventsDiv {
    display: grid;
    grid-template-columns: auto min-content;
}

#eventContainer {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 20px;
}

#eventPic {
    widows: 700px;
    height: 700px;
}

#eventpic img {
    width: 100%;
    height: 100%;
}

#eventInfo {
    font-family: "Lato", sans-serif;
}

#eventTitle {
    font-family: "Oswald", sans-serif;
}

#allPastEvents {
    display: grid;
    grid-template-rows: auto auto;
}

#eventContainer2 {
    display: grid;
    grid-template-columns: min-content auto;
}

#pastEventPic {
    width: 230px;
    height: 230px;
}

.pastPic {
    width: 100%;
    height: 100%;
}


/*Footer styling*/

.grid-container10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #400F3C;
    color: #ffffff;
    height: 300px;
}

.grid-item20 {
    display: grid;
    grid-template-rows: auto 10% 30%;
}

.logo {
    width: 70px;
    height: 100px;
    margin: auto;
}

.legalText {
    margin-bottom: 0px;
}

.grid-item22 {
    margin: auto;
    text-align: center;
}

.legal {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.footertitle {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.grid-item21 {
    margin: auto;
}

.grid-container11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container11 div {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: auto;
}

.grid-container11 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.socialImgs {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width:800px) {
    .footer {
        grid-template-columns: auto;
        grid-template-rows: [top] auto [bottom] auto
    }
    .grid-item22 {
        display: none
    }
    .grid-item20 {
        display: none;
    }
    .grid-item21 {
        grid-row: top
    }
    .grid-container11 {
        grid-template-columns: auto auto auto auto;
    }
    .footertitle {
        font-size: 60px;
    }
    .socialImgs {
        width: 50px;
        height: 50px;
    }
}